<div class="col-12 ">
  <p id="notice"><%= notice %></p>
  <h1></h1>

  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <%# <th>When</th>
        <th>Where</th>
        <th>Who</th>
        <th>What</th>
        <th>Why</th>
        <th>How</th>
        <th>本文</th> %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @journals.last(3).each do |journal| %>
        <tr>
          <td><%= journal.title %></td>
          <td><%= link_to '内容を見る', journal, class: "border-h" %></td>
          <td><%= link_to '編集する', edit_journal_path(journal), class: "border-h" %></td>
          <td><%= link_to '削除する', journal, method: :delete, data: { confirm: '本当に削除してよろしいですか?' }, class: "border-h" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <p class="new">
    <%= link_to '日記を書く', new_journal_path %>
  </p>

  <p class="calender">
  <%= month_calendar events: @journals do |date, journals| %>
    <%= date.day %>

    <% journals.each do |journal| %>
      <div>
        <%= link_to journal.title, journal %>
      </div>
    <% end %>
  <% end %>
  </p>
</div>

